<html>
  <head>
    <title>sign up page</title>

    <style>
      form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        max-width: fit-content;
      }
    </style>
  </head>

  <body>
    <h1>create an account!</h1>

    <form method="post">
      {% csrf_token %}

      <label> username </label>
      <input type="text" name="username_box" />

      <label> password </label>
      <input type="password" name="password_box" />

      <button type="reset">clear</button>
      <button type="submit">create</button>
    </form>

    {% if error %}
    <span>{{error}}</span>
    {% endif %}
  </body>
</html>
